body {
  margin: 0;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#header {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
#header .left,
#header .right {
  display: flex;
  align-items: center;
}
.img-menu {
  width: 20px;
}
.img-search {
  width: 25px;
  height: 20px;
  color: #9aa0a6;
}
.tooltip-wrapper {
  position: relative;
}
.tooltip-wrapper:hover::after {
  display: block;
}
.tooltip-wrapper::after {
  content: "입력도구";
  background: #000;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  position: absolute;
  white-space: nowrap;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.tooltip-mike::after {
  content: "음성검색";
  background: #000;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  position: absolute;
  white-space: nowrap;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.tooltip-mike {
  position: relative;
}
.tooltip-mike:hover::after {
  display: block;
}
.img-keyboard {
  width: 30px;
  height: 25px;
}
.img-mike {
  width: 30px;
  height: 25px;
}
.img-camera {
  width: 35px;
  height: 25px;
}
ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
#header li {
  margin: 0px 10px;
}
.input-search {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  color: rgba(0, 0, 0, 0.87);
  flex: 1;
  font-size: 16px;
  outline: none;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer {
  color: #70757a;
  background-color: #f2f2f2;
}
.footer li {
  padding: 15px;
}

.top {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  color: #70757a;
  display: flex;
}
.bottom {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
@media screen and(max-width:1000px;) {
  footer .bottom {
    justify-content: space-evenly;
  }
}
@media screen and(max-width:800px;) {
  footer .bottom {
    flex-direction: column;
  }
}
.round {
  border-radius: 24px;
  border-style: solid;
  width: 500px;
  height: 34px;
  border-color: #dfe1e5;
  border-width: 1px;
  display: flex;
  align-items: center;
  padding: 0 8px 0 14px;
  margin: 0;
}
.box1 {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  font-size: 14px;
  align-items: center;
  margin: 12px;
  cursor: pointer;
  padding: 0 16px;
  height: 36px;
}
